<div class="container after-nav py-3">
  <h1 class="mb-4 text-center">Manage Contestants (<%= @contest.name %>) </h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
    <% @contestants.each do |contestant| %>
      <div class="col">
        <div class="card p-2 shadow-sm">
          <!-- Thumbnail and Contestant Name -->
          <div class="card-body text-center">
            <%= link_to contest_contestant_path(@contest, contestant), class: "text-decoration-none" do %>
              <!-- Thumbnail -->
              <div class="d-flex justify-content-center">
                <% if contestant.image.attached? %>
                  <%= image_tag contestant.image.variant(resize_to_limit: [50, 50]), class: "img-fluid rounded-circle border shadow-sm" %>
                <% else %>
                  <div class="rounded-circle border shadow-sm d-flex align-items-center justify-content-center bg-light" style="width: 50px; height: 50px;">
                    <i class="fas fa-user text-muted"></i>
                  </div>
                <% end %>
              </div>
              <h5 class="fs-6 mt-2"><%= contestant.stage_name %></h5>
            <% end %>
            <p class="mb-0 text-muted fs-7"><%= contestant.user.email %></p>
            <p class="mb-0 text-muted fs-9"><strong>Current Status: </strong><%= contestant.approved.capitalize %></p>
          </div>
          <!-- Action Buttons (Visible only for Admin) -->
          <% if current_user.admin? %>
            <div class="d-flex flex-column flex-md-row justify-content-center text-center gap-2 mt-2">
              <!-- Approve/Reject/Status Change -->
              <%= button_to 'Approve', contest_contestant_path(@contest, contestant, contestant: { approved: 'approved' }), 
                  method: :patch, class: 'btn btn-success btn-sm', disabled: contestant.approved? %>
              <%= button_to 'Reject', contest_contestant_path(@contest, contestant, contestant: { approved: 'rejected' }), 
                  method: :patch, class: 'btn btn-danger btn-sm', disabled: contestant.rejected? %>
              <%= button_to 'Edit', edit_contest_contestant_path(@contest, contestant), method: :get, class: 'btn btn-warning btn-sm' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# <%= paginate @contestants, 
    previous_label: '<i class="fas fa-chevron-left"></i> Previous', 
    next_label: 'Next <i class="fas fa-chevron-right"></i>', 
    class: 'pagination pagination-lg justify-content-center' %>
