<%= javascript_pack_tag 'leaderboard' %>

<div id="leaderboard" data-contest-id="<%= @contest.id %>">
     <h1>leaderboard</h1>
     <div id="leaderboard-table">
          <table>
               <thead>
                    <tr>
                         <th>Rank</th>
                         <th>name</th>
                         <th>Score</th>
                    </tr>
               </thead>
               <tbody>
                    <% @contestants.each_with_index do |user, index| %>
                         <tr>
                              <td><%= index + 1 %></td>
                              <td><%= user.name %></td>
                              <td><%= user.score %></td>
                         </tr>
                    <% end %>
               </tbody>
          </table>
</div>
