<div class="container article-container after-nav py-3">
  <div class="row">
    <div class="col-md-8 border rounded-1 p-3 shadow bg-body-tertiary">
      <!-- Article Header -->
      <div class="row">
        <div class="col-12">
          <h2><%= @article.title %></h2>
          <p class="text-muted">
            <%= @article.anonymize ? '' : raw("By <span class='fw-bold'>#{@article.author.first_name} #{@article.author.last_name}</span> • ") %>
            <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <span class="timestamp" data-utc="<%= @article.published_at&.iso8601 %>"></span>
          </p>
        </div>
      </div>
      <div class="row border-bottom mb-2">
        <p class="fst-italic fw-semibold"><%= @article.description %></p>
      </div>
      <!-- Tags -->
      <div class="row">
        <div class="col-6 mb-3">
          <% @article.tags.each_with_index do |tag, idx|%>
            <span class="badge <%= tag_classes[idx] %>" ><%= tag.name.capitalize  %></span>
          <% end %>
        </div>
        <div class="col-6 mb-3 text-end pe-3">
          <i class="fas fa-share-alt fa-lg me-3"></i>
          <!-- Social Media Icons -->
          <!-- Facebook Share -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= CGI.escape(article_url(@article)) %>" class="text-decoration-none text-primary me-3" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <!-- Twitter Share -->
          <a href="https://twitter.com/intent/tweet?url=<%= CGI.escape(article_url(@article)) %>&text=<%= CGI.escape(@article.title) %>" class="text-decoration-none text-dark me-3" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
          <!-- LinkedIn Share -->
          <a href="https://www.linkedin.com/sharing/share-offsite/?url=<%= CGI.escape(article_url(@article)) %>" class="text-decoration-none text-secondary" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
        </div>
        <!-- Article Body -->
        <div class="row">
          <div class="col-12">
            <%= @article_body %>
            <%#= render_action_text_content(@article_body) %>
            <%# <%= render_with_alt_text(@article_body) %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>