<div class="container after-nav py-5">
  <h1 class="text-center mb-4">Published Articles</h1>
  <div class="row g-3">
    <%= render 'admin/dashboard_sidebar' %>
    <main class="col-md-10 ms-sm-auto px-md-4 row">
      <% @published_articles.each_with_index do |article, index| %>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="card shadow-sm w-100 d-flex flex-column">
            <div class="card-body d-flex flex-column">
              <%= link_to article_path(article), class: 'text-dark link-offset-2 link-offset-3-hover' do %>
                <h5 class="card-title"><%= index + 1 %>. <%= article.title %></h5>
              <% end %>
              <p class="card-text mb-4">
                <strong>Author:</strong> <%= article.author.first_name %> <%= article.author.last_name %><br>
                <strong>Last Updated:</strong> <span class="timestamp" data-utc="<%= article.updated_at&.iso8601 %>"></span><br>
                <strong>Published At:</strong> <span class="timestamp" data-utc="<%= article.published_at&.iso8601 %>"></span>
              </p>
              <div class="mt-auto">
                <div class="d-flex flex-column flex-sm-row gap-2">
                  <%= button_to 'Move to Review', update_status_article_path(article, status: 'under_review'), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning' %>
                  <%= button_to 'Move to Draft', update_status_article_path(article, status: 'draft'), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning' %>
                  <%= button_to edit_article_path(article), method: :get, class: 'btn btn-sm btn-warning' do %>Edit<% end %>
                  <%= button_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </main>
  </div>
  <%= paginate @published_articles, param_name: :published_page, anchor: 'published' %>
</div>
