<div class="container-fluid text-black opacity-75 text-center text-md-start py-4 px-md-5 mt-auto footer w-100 border-top" id="footer">
  <div class="row">
    <!-- Left: Logo + Social Media -->
    <div class="col-md-6 mb-4 d-flex flex-column align-items-center align-items-md-start justify-content-center">
      <a href="/" class="mb-3">
        <img src="/icon.png" width="120" height="50" alt="Napoleon News Logo" />
      </a>
      <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-2">
        <%= link_to "https://facebook.com/napoleonnewsblog", target: "_blank", class: "btn btn-outline-primary btn-sm" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
        <%= link_to "https://x.com/napoleonnews_tv", target: "_blank", class: "btn btn-outline-dark btn-sm" do %>
          <i class="fab fa-x-twitter"></i>
        <% end %>
        <%= link_to "https://www.instagram.com/napoleonnewstv/", target: "_blank", class: "btn btn-outline-danger btn-sm" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to "https://www.youtube.com/@Napoleonnewstv", target: "_blank", class: "btn btn-outline-secondary btn-sm" do %>
          <i class="fab fa-youtube"></i>
        <% end %>
        <%= link_to "https://www.linkedin.com/company/napoleon-news-agency", target: "_blank", class: "btn btn-outline-dark btn-sm" do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
      </div>
      <p class="small mt-3">Napoleon News delivers the latest updates worldwide.</p>
    </div>
    <!-- Center: Navigation -->
    <div class="col-md-3 mb-4 d-flex flex-column align-items-center align-items-md-start">
      <h5 class="mb-3">Quick Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item"><%= link_to "Features", category_path(@all_categories.find_by(name: 'Features')), class: "text-dark text-decoration-underline" %></li>
        <li class="nav-item"><%= link_to "Leadership", category_path(@all_categories.find_by(name: 'Leadership')), class: "text-dark text-decoration-underline" %></li>
        <li class="nav-item"><%= link_to "Business", category_path(@all_categories.find_by(name: 'Business')), class: "text-dark text-decoration-underline" %></li>
        <li class="nav-item"><%= link_to "Society", category_path(@all_categories.find_by(name: 'Society')), class: "text-dark text-decoration-underline" %></li>
        <li class="nav-item"><%= link_to "News", category_path(@all_categories.find_by(name: 'News')), class: "text-dark text-decoration-underline" %></li>
        <% if @active_contest %>
          <li class="nav-item"><%= link_to "MBGN Contest", mbgn_path, class: "text-dark text-decoration-underline" %></li>
        <% end %>
        <li class="nav-item"><%= link_to "Events", "#", class: "text-dark text-decoration-underline" %></li>
      </ul>
    </div>
    <!-- Right: Contact Form or Legal Links -->
    <div class="col-md-3 mb-4 d-flex flex-column align-items-center align-items-md-start justify-content-center">
      <h5 class="mb-3">Legal & Policy</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="#" class="text-dark text-decoration-underline" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">
            Privacy Policy
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="text-dark text-decoration-underline" data-bs-toggle="modal" data-bs-target="#termsModal">
            Terms of Use
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="text-dark text-decoration-underline" data-bs-toggle="modal" data-bs-target="#advertisingPolicyModal">
            Advertising Policy
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Bottom Line -->
  <div class="text-center pt-3 mt-2 border-top">
    <p class="small mb-0">&copy; <%= Time.current.year %> Napoleon News. All rights reserved.</p>
  </div>
</div>


<!-- Privacy Policy Modal -->
<div class="modal fade" id="privacyPolicyModal" tabindex="-1" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privacyPolicyModalLabel">Privacy Policy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start small">
        <%= markdown(File.read(Rails.root.join("app/views/static/legal/privacy_policy.md"))) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Terms and Conditions Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsModalLabel">Terms and Conditions of Use</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start small">
        <%= markdown(File.read(Rails.root.join("app/views/static/legal/terms_of_use.md"))) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>








<div class="modal fade" id="advertisingPolicyModal" tabindex="-1" aria-labelledby="advertisingPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advertisingPolicyModalLabel">Advertising Policy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start small">
        <%= markdown(File.read(Rails.root.join("app/views/static/legal/advertising_policy.md"))) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
