<nav class="navbar navbar-expand-lg navbar-tertiary px-0 px-lg-4 fixed-top border-bottom border-primary">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="/icon.png" width="120" height="50" class="d-inline-block align-text-top">
    </a>
    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <!-- Features Dropdown -->
        <li class="nav-item dropdown mx-0 mx-lg-1" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Interviews', category_path(@all_categories.find_by(name: 'Interview')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Stories', category_path(@all_categories.find_by(name: 'Stories')), class: 'dropdown-item' %></li>
            <li><%= link_to 'CSR', category_path(@all_categories.find_by(name: 'CSR')), class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Contact Us', '#', class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- Leadership Dropdown -->
        <li class="nav-item dropdown mx-0 mx-lg-1" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Leadership
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Transformational Leaders', category_path(@all_categories.find_by(name: 'Transformational')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Governance', category_path(@all_categories.find_by(name: 'Governance')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Legal', category_path(@all_categories.find_by(name: 'Legal')), class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- Business Dropdown -->
        <li class="nav-item dropdown mx-0 mx-lg-1" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Business
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Finance', category_path(@all_categories.find_by(name: 'Finance')), class: 'dropdown-item' %></li>
            <li><%= link_to 'SMEs', category_path(@all_categories.find_by(name: 'SMEs')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Innovation', category_path(@all_categories.find_by(name: 'Innovation')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Spotlight & Listings', category_path(@all_categories.find_by(name: 'Listings')), class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- Society Dropdown -->
        <li class="nav-item dropdown mx-0 mx-lg-1" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Society
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Men', category_path(@all_categories.find_by(name: 'Men')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Youth', category_path(@all_categories.find_by(name: 'Youth')), class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- News Dropdown -->
        <li class="nav-item dropdown mx-0" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Trending', category_path(@all_categories.find_by(name: 'Trending')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Entertainment', category_path(@all_categories.find_by(name: 'Entertainment')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Tech', category_path(@all_categories.find_by(name: 'Tech')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Sports', category_path(@all_categories.find_by(name: 'Sports')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Culture', category_path(@all_categories.find_by(name: 'Culture')), class: 'dropdown-item' %></li>
          </ul>
        </li>

        <!-- Opportunities Dropdown -->
        <li class="nav-item dropdown mx-0" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Opportunities
          </a>
          <ul class="dropdown-menu">
            <% if @active_contest %>
              <li><%= link_to 'MBGN Contest', contest_leaderboards_path(@active_contest), class: 'dropdown-item'%></li>
            <% end %>
            <li><%= link_to 'Instant Quiz', '#', class: 'dropdown-item'%></li>
            <li><hr class="dropdown-divider"></li>
            <% if @others_category %>
              <li><%= link_to 'Others', category_path(@others_category), class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
        <!-- Static Links -->
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link active" aria-current="page" href="#">Events</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
        </li>
      </ul>

       <!-- User Controls - Move this outside of the collapsible navbar content -->
    <div class="d-flex flex-column flex-lg-row me-lg-2">
      <% if current_user && !current_user.visitor? %>
        <div class="d-flex me-2 mb-sm-3 mb-md-0">
          <%= link_to user_admin_index_path(current_user), class: "btn btn-outline-secondary btn-sm me-2" do %>
            <i class="fas fa-tachometer me-1"></i> <%= current_user.role.capitalize %> Dashboard
          <% end %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="d-flex me-2">
          <%= link_to destroy_user_session_path, data: { "turbo-method": :delete }, method: :delete, class: "btn btn-outline-secondary btn-sm me-2" do %>
          <%# <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-sm me-2" do %>
            <i class="fas fa-sign-out-alt me-1"></i> Logout, <%= current_user.first_name %>
          <% end %>
        </div>
      <% else %>
        <div class="d-flex me-2">
          <%= link_to new_user_session_path, class: "btn btn-outline-secondary btn-sm me-2" do %>
            <i class="fas fa-sign-in-alt me-1"></i> Login
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</nav>
