<nav class="navbar navbar-expand-lg navbar-tertiary px-0 px-lg-4 fixed-top border-bottom border-primary">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="/icon.png" width="120" height="50" class="d-inline-block align-text-top">
    </a>
    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <!-- Features Dropdown -->
        <li class="nav-item dropdown mx-0 mx-lg-1" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Interviews', category_path(@all_categories.find_by(name: 'Interview')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Stories', category_path(@all_categories.find_by(name: 'Stories')), class: 'dropdown-item' %></li>
            <li><%= link_to 'CSR', category_path(@all_categories.find_by(name: 'CSR')), class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Contact Us', '#', class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- Leadership Dropdown -->
        <li class="nav-item dropdown mx-0 mx-lg-1" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Leadership
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Transformational Leaders', category_path(@all_categories.find_by(name: 'Transformational')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Governance', category_path(@all_categories.find_by(name: 'Governance')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Legal', category_path(@all_categories.find_by(name: 'Legal')), class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- Business Dropdown -->
        <li class="nav-item dropdown mx-0 mx-lg-1" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Business
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Finance', category_path(@all_categories.find_by(name: 'Finance')), class: 'dropdown-item' %></li>
            <li><%= link_to 'SMEs', category_path(@all_categories.find_by(name: 'SMEs')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Innovation', category_path(@all_categories.find_by(name: 'Innovation')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Spotlight & Listings', category_path(@all_categories.find_by(name: 'Listings')), class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- Society Dropdown -->
        <li class="nav-item dropdown mx-0 mx-lg-1" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Society
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Men', category_path(@all_categories.find_by(name: 'Men')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Youth', category_path(@all_categories.find_by(name: 'Youth')), class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- News Dropdown -->
        <li class="nav-item dropdown mx-0" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Trending', category_path(@all_categories.find_by(name: 'Trending')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Entertainment', category_path(@all_categories.find_by(name: 'Entertainment')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Tech', category_path(@all_categories.find_by(name: 'Tech')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Sports', category_path(@all_categories.find_by(name: 'Sports')), class: 'dropdown-item' %></li>
            <li><%= link_to 'Culture', category_path(@all_categories.find_by(name: 'Culture')), class: 'dropdown-item' %></li>
          </ul>
        </li>
        <!-- Opportunities Dropdown -->
        <li class="nav-item dropdown mx-0" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contests
          </a>
          <ul class="dropdown-menu">
            <% if @active_contest %>
              <li><%= link_to 'MBGN Contest', new_contest_contestant_path(@active_contest), class: 'dropdown-item'%></li>
            <% end %>
            <li><%= link_to 'Instant Quiz', '', class: 'quiz-trigger dropdown-item'%></li>
            <li><hr class="dropdown-divider"></li>
            <% if @others_category %>
              <li><%= link_to 'Others', category_path(@others_category), class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
        <!-- Static Links -->
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link active" aria-current="page" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#footer">Contact Us</a>
        </li>
      </ul>
      <!-- User Controls - Move this outside of the collapsible navbar content -->
      <div class="d-flex flex-column flex-lg-row me-lg-2">
        <% if current_user && !current_user.visitor? %>
          <div class="d-flex me-2 mb-sm-3 mb-md-0">
            <%= link_to user_admin_index_path(current_user), class: "btn btn-outline-secondary btn-sm me-2" do %>
              <i class="fas fa-tachometer me-1"></i> <%= current_user.role.capitalize %> Dashboard
            <% end %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="d-flex me-2">
            <%= link_to destroy_user_session_path, data: { "turbo-method": :delete, turbo_method: 'delete', turbo_method: :delete }, method: :delete, class: "btn btn-outline-secondary btn-sm me-2" do %>
              <%# <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-sm me-2" do %>
                <i class="fas fa-sign-out-alt me-1"></i> Logout, <%= current_user.first_name %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex me-2">
              <%= link_to new_user_session_path, class: "btn btn-outline-secondary btn-sm me-2" do %>
                <i class="fas fa-sign-in-alt me-1"></i> Login
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
<% if current_page?(root_path) %>
<div class="container-fluid mt-3">
  <div class="row d-flex align-items-center justify-content-between flex-nowrap">
    <!-- Search Box -->
    <div class="col-7 col-md-5">
      
        <%= render "shared/search" %>
      
    </div>
    <!-- Social Media Icons -->
    <div class="col-5 col-md-7 d-flex justify-content-end flex-nowrap">
      <%= link_to "https://web.facebook.com/napoleonnewsblog/", target: "_blank", class: "btn btn-outline-primary btn-sm me-1 square p-1" do %>
        <i class="fab fa-facebook-f fa-xs"></i>
      <% end %>
      <%= link_to "https://x.com/napoleonnews_tv", target: "_blank", class: "btn btn-outline-dark btn-sm me-1 square p-1" do %>
        <i class="fab fa-x-twitter fa-xs"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/napoleonnewstv/", target: "_blank", class: "btn btn-outline-danger btn-sm me-1 square p-1" do %>
        <i class="fab fa-instagram fa-xs"></i>
      <% end %>
      <%= link_to "https://www.youtube.com/@Napoleonnewstv", target: "_blank", class: "btn btn-outline-secondary btn-sm me-1 square p-1" do %>
        <i class="fab fa-youtube fa-xs"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/napoleon-news-agency", target: "_blank", class: "btn btn-outline-dark btn-sm square p-1" do %>
        <i class="fab fa-linkedin fa-xs"></i>
      <% end %>
    </div>
  </div>
</div>
<% end  %>
