<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Napoleon News' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" alt="napoleon-news-logo">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" alt="napoleon-news-logo">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" alt="napoleon-news-logo">
    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@hotwired/turbo@7/dist/turbo.es2017-umd.js", defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6566968778600168"
     crossorigin="anonymous"></script>
    <meta name="csrf-token" content="<%= csrf_meta_tags %>">
  </head>
  <body class="d-flex flex-column min-vh-100 pt-4" data-controller="flash-notifications">
    <div class="container-fluid p-0 mb-5 contest-container">
      <%= render 'layouts/nav' %>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == 'alert' ? 'danger' : type == 'notice' ? 'success' : type %> alert-dismissible fade show after-nav" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
